@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, button, input, select, textarea {
  font-family: "Inter", sans-serif;
}

